<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="FunctionsModule"
           type="Microsoft.Azure.WebJobs.Script.WebHost.FunctionsApplication, Microsoft.Azure.WebJobs.Script.WebHost" />
    </modules>
    <handlers accessPolicy="Read,Script">
      <add name="FunctionsHandler"
           verb="*"
           path="*"
           type="Microsoft.Azure.WebJobs.Script.WebHost.FunctionsApplication, Microsoft.Azure.WebJobs.Script.WebHost"
           resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
